html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 313px auto;
  grid-template-areas:
    "header header header"
    ". dis .";

  height: 100%;
  overflow: auto;
  background: url(../src/boba.png);
}

.header {
  grid-area: header;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    ". title title title . "
    ". l1 l2 l3 . ";
}
.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background: black;
  opacity: 0.85;
  color: white;
  margin: 25px;
}
.link-1 {
  grid-area: l1;
}
.link-2 {
  grid-area: l2;
}
.link-3 {
  grid-area: l3;
}

.link-1,
.link-2,
.link-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: black;
  opacity: 0.85;
  margin-right: 7px;
}
.display {
  grid-area: dis;
  margin-top: 50px;
  font-size: 24px;
  color: white;
  opacity: 0.85;
  background: black;
  margin-bottom: 50px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 1000px;
  grid-template-areas:
    "m1 m2"
    "m3 m4"
    "m5 m6";
}

.menu > div {
  display: grid;
  grid-template-rows: 1fr 1f;
  grid-template-columns: 0.75fr 1.4fr;
  grid-template-areas:
    "img name"
    "img desc";
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-right: 30px;
}

.menu-1 {
  grid-area: m1;
}

.item-name {
  grid-area: name;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 36px;
}

.item-desc {
  grid-area: desc;
  font-size: 18px;
  margin-top: 5px;
}

.item-pic {
  height: 50%;
  width: 50%;
  opacity: 1;
}

.pic-holder {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
